<!--
ChiThienTCN
Header html
-->
<div class="header">
    <div class="branding">
		<h1 class="site-name"><a href="/{{ getHomeRouter().path }}">{{ getAppTitle() }}</a></h1>
    </div>
	<div class="user-tools">
         <ul class="nav">
            <li *ngFor="let route of appRouting.routes"
            >
                <a  class="nav-item"
                    routerLinkActive="selected"
                    *ngIf="accessAbility(route)"
                    [class.ml-3]="route.data.isShow"
                    routerLink="/{{ route.path }}">
                    {{ route.data.title | titlecase }}
                </a>
            </li>
            <li *ngIf="auth.isLogined()" class="ml-3 dropdown-toggle" data-toggle="dropdown">
                <a class="option">Hi: {{ auth.currentFirstName() }}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item item">Manage My Account</a>
                    <a class="dropdown-item item">My Orders</a>
                    <a class="dropdown-item item" (click)="auth.clearSession()">Logout</a>
                </div>
            </li>
        </ul>
    </div>        
</div>
<div class="breadcrumbs">
    <a class="home" href="/{{ getHomeRouter().path }}">{{getHomeRouter().data.title | titlecase }} </a>
    <a *ngIf="getCurrentRouter() && getCurrentRouter().path != getHomeRouter().path">
    <span class="fa fa-angle-right"></span>
    {{getCurrentRouter().data.title | titlecase}}</a>
</div>
