<div class="modal {{isFade?'fade':''}}" id="{{modalId}}" role="dialog">
  <div class="modal-dialog {{modalType}}">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
        {{message}}
      </div>
      <div class="modal-footer">
        <!-- Show only Close button begin-->
        <button *ngIf="isCloseButton && isCloseWhenClickOnButton" type="button" class="btn btn-primary" data-dismiss="modal" (click)="noClicked()">Close</button>
        <button *ngIf="isCloseButton && !isCloseWhenClickOnButton" type="button" class="btn btn-primary" (click)="noClicked()">Close</button>
        <!-- Show only Close button End-->
        <!-- Show only  Ok button begin-->
        <button *ngIf="isOkButton && isCloseWhenClickOnButton" type="button" class="btn btn-primary" data-dismiss="modal" (click)="yesClicked()">Ok</button>
        <button *ngIf="isOkButton && !isCloseWhenClickOnButton" type="button" class="btn btn-primary" (click)="yesClicked()">Ok</button>
        <!-- Show only Ok button end-->
        <!-- Show only  Ok/Cancel button begin-->
        <button *ngIf="isOkCancelButton && isCloseWhenClickOnButton" type="button" class="btn btn-primary" data-dismiss="modal" (click)="yesClicked()">Ok</button>
        <button *ngIf="isOkCancelButton && !isCloseWhenClickOnButton" type="button" class="btn btn-primary"   (click)="yesClicked()">Ok</button>
        <button *ngIf="isOkCancelButton && isCloseWhenClickOnButton" type="button" class="btn btn-default" data-dismiss="modal" (click)="noClicked()">Cancel</button>
        <button *ngIf="isOkCancelButton && !isCloseWhenClickOnButton" type="button" class="btn btn-default" (click)="noClicked()">Cancel</button>
        <!-- Show only Ok/Cancel button End-->
        <!-- Show only  Yes/No button begin-->
        <button *ngIf="isYesNoButton && isCloseWhenClickOnButton" type="button" class="btn btn-primary" data-dismiss="modal" (click)="yesClicked()">Yes</button>
        <button *ngIf="isYesNoButton && !isCloseWhenClickOnButton" type="button" class="btn btn-primary"  (click)="yesClicked()">Yes</button>
        <button *ngIf="isYesNoButton && isCloseWhenClickOnButton" type="button" class="btn btn-default" data-dismiss="modal" (click)="noClicked()">No</button>
        <button *ngIf="isYesNoButton && !isCloseWhenClickOnButton" type="button" class="btn btn-default" (click)="noClicked()">No</button>
        <!-- Show only Yes/No button begin-->
      </div>
    </div>
  </div>
</div>
