<div class="modal" role="dialog" id="timeoutWarningModal">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
          <div class="text-center">
            {{ firstRowFlavorText }}
          </div>
          <div class="text-center">
            {{ secondRowFlavorText }}
          </div>
            <div class="text-center" style="margin-top: 20px;margin-bottom: 20px;">
              You will be logged out in {{countdownView()}} seconds.
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" (click)="yesClicked()">Yes</button>
        <button  type="button" class="btn btn-primary" (click)="logoutClicked()">Logout</button>
      </div>
    </div>
  </div>
</div>
