<!--
ChiThienTCN
Topic html
-->
<div class="container-list">
    <div class="row">
        <div class="col-sm-3 col-padding-0">
            <div class="card max-height">
                <div class="card-header">My favorite topics</div>
                <div class="card-body">

                    <!-- Scroll -->
                    <virtual-scroller class="topics" #scroll [items]="topics">
                        <ol class="topics float-left example-item">
                            <li class= "topicItem" 
                            *ngFor="let topic of scroll.viewPortItems;"
                            [class.selected]="topic === selectedTopic"
                            (click)="onSelect(topic)"
                            >
                                {{topic.name}}

                                <!-- Delete Modal Component -->
                                <span 
                                    class="fa fa-trash-o float-right" 
                                    style="color:black;" 
                                    data-toggle="modal" 
                                    [attr.data-target]="'#modal-'+topic.id">
                                </span>
                                
                                <delete-modal 
                                    (event)="onDelete($event)" 
                                    [title]="'Confirm delete?'" 
                                    [message]="'Do you want to delete: '+topic.name + '?'" 
                                    [id]="topic.id">
                                </delete-modal>
                                <!-- End Delete Modal Component -->
                            
                            </li>
                        </ol>
                    </virtual-scroller>
                    <!-- End Scroll -->

                </div>
            </div>
        </div>
        <div class="col-sm-9 col-padding-0 topic-detail">
            <app-topic-detail (messageEvent)="receiveMessage($event)" [topic]="selectedTopic"></app-topic-detail>
        </div>
    </div>
</div>
