<!--
ChiThienTCN
Topic html
-->
<div class="container-list">
    <div class="row">
        <div class="col-sm-3 col-padding-0">
            <div class="card max-height">
                <div class="card-header">My favorite topics: {{ getLengthTopics() }}/{{ count }}</div>
                <div class="card-body">

                    <!-- Scroll -->
                    <virtual-scroller 
                    class="topics"  
                    #scroll
                    [items]="topics">
                        <ol class="topics float-left">
                            <li class= "topicItem" 
                            *ngFor="let topic of scroll.viewPortItems"
                            [class.selected]="topic === selectedTopic">

                                <span class="item-content" 
                                (click)="onSelect(topic)">{{topic.name}}</span>

                                <!-- Delete Modal Component -->
                                <button 
                                    class="fa fa-trash-o icon-delete"
                                    data-toggle="modal" 
                                    [attr.data-target]="'#modal-'+topic.id">
                                </button>
                                
                                <delete-modal
                                    (event)="onDelete($event)" 
                                    [title]="'Confirm delete?'" 
                                    [message]="'Do you want to delete: '+topic.name + '?'" 
                                    [id]="topic.id">
                                </delete-modal>
                                <!-- End Delete Modal Component -->
                            
                            </li>
                            <div *ngIf="loading" class="loader">Loading...</div>
                        </ol>
                    </virtual-scroller>
                    <!-- End Scroll -->
                    <button 
                        [hidden]="getLengthTopics()==count || loading" 
                        (click)="loadMore()" 
                        class="btn button-gray loadMore">
                        Load More
                    </button>

                </div>
            </div>
        </div>
        <div class="col-sm-9 col-padding-0 topic-detail">
            <app-topic-detail (messageEvent)="receiveMessage($event)" [topic]="selectedTopic"></app-topic-detail>
        </div>
    </div>
</div>
