/*
ChiThienTCN
Topics css
*/
.parent {
  display: flex;
}
.selected, .topicItem:hover  {
  background: #417690 !important;
  color: white;
}

.topics {
    color: #333;
    padding: 0%;
    margin: 0%;
    width: 100%;
  }
.topicItem {
  background: #cce5ff;
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 0.25em;
  font-weight: 400;
  display: flex;
}

.item-content {
  padding: 0%;
  margin: 0%;
  cursor: pointer;
  text-align: left;
  width: 90%;
  display: block;

}

.topic-detail{
  position: fixed;
  margin-left: 25%;
}

@media only screen and (max-width: 575px) {
  .topic-detail{
    margin-left: 0%;
  }
}

virtual-scroller {
  width: 100%;
  overflow: auto;
  height: 600px;
}

.loader {
  color: #fff;
}

/** Style Scrollbar **/

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #417690; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #417690; 
}

/**End  Style Scrollbar **/