
<div>
    <div>
        <app-header></app-header>
    </div>
    <div class="router">
       <router-outlet></router-outlet>
       
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-4">
                <div class="my-form-group">
                    <span class="my-form-label">Phone or email</span>
                    <input class="my-form-input">
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>