<!--
ChiThienTCN
Header html
-->
<div class="header">
    <div class="branding">
		<h1 class="site-name"><a href="/{{ getHomeRouter().path }}">{{ getAppTitle() }}</a></h1>
    </div>
	<div class="user-tools">
         <ul class="nav">
            <li data-toggle="modal" [attr.data-target]="'#modal-login'"><a>Login</a></li>
            <li data-toggle="modal" [attr.data-target]="'#modal-login'"><a>Register</a></li>
             <app-login></app-login>
            <li *ngFor="let route of appRouting.routes">
                <a 
                    [class.selected]="route.path==getCurrentRouter().path"
                    *ngIf="route.data.isShow"
                    routerLink="/{{ route.path }}">
                    {{ route.data.title | titlecase }}
                </a>
            </li>
        </ul>
    </div>        
</div>
<div class="breadcrumbs">
    <a class="home" href="/{{ getHomeRouter().path }}">{{getHomeRouter().data.title | titlecase }} </a>
    <a
    *ngIf="setCurrentRouter() && getCurrentRouter()['path']">
    <span class="fa fa-angle-right"></span>
    {{getCurrentRouter().data.title | titlecase}}</a>
</div>
