<!--
ChiThienTCN
Header html
-->
<div class="header">
    <div class="branding">
		<h1 class="site-name"><a href="/{{ getHomeRouter().path }}">{{ getAppTitle() }}</a></h1>
    </div>
	<div class="user-tools">
         <ul class="nav">
            <li *ngFor="let route of appRouting.routes"
            [hidden]="!auth.isLogined() && route.data.auth">
                <a 
                    [class.selected]="route.path==getCurrentRouter().path"
                    [class.ml-md-2]="route.data.isShow"
                    *ngIf="route.data.isShow"
                    routerLink="/{{ route.path }}">
                    {{ route.data.title | titlecase }}
                </a>
            </li>
            <li [hidden]="auth.isLogined()" class="ml-md-2" (click)="clearMsg()" 
            data-toggle="modal" [attr.data-target]="'#modal-login'">
                <a>Login</a>
            </li>
            <app-login></app-login>
            <li [hidden]="auth.isLogined()" class="ml-md-2" (click)="clearMsg()">
                <a href="/{{ registerPath }}">Register</a>
            </li>
            <li [hidden]="!auth.isLogined()" class="ml-md-2" (click)="auth.clearSession()"><a>Logout</a></li>
        </ul>
    </div>        
</div>
<div class="breadcrumbs">
    <a class="home" href="/{{ getHomeRouter().path }}">{{getHomeRouter().data.title | titlecase }} </a>
    <a
    *ngIf="setCurrentRouter() && getCurrentRouter()['path']">
    <span class="fa fa-angle-right"></span>
    {{getCurrentRouter().data.title | titlecase}}</a>
</div>
