button.clear {    
    background: #3399ff;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;    
}

.msg{
  width: fit-content;
}

.err{
  color: #ab0000!important;
}

.succ {
  color: #ffc;
}