.my-form-input, button {
    height: 46px;
}

.my-form-group {
    margin-top: 2rem;
}

@media only screen and (max-width:1200px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 4.5%;
        padding-left: 4.5%;
        max-width: 100%;
        flex: none;
    }

    .container-list {
        padding: 0 20% !important;
    }

    .logo {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width:750px) {

    .container-list {
        padding: 0 10% !important;
    }
}

