.content {
    margin-top: 16px;
    background: none;
    border-radius: 0.25em;
}

label, .label-sign-in {
    font-weight: 400;
}

.label-sign-in {
    margin-top: 8%;
    text-align: center;
    cursor: pointer;
    color: #ffc;
}